{"openapi":"3.0.1","info":{"title":"memoresa API","description":"This is the memoresa RESTful service."},"servers":[{"url":"https://api-develop.memoresa.de","description":"Generated server url"}],"paths":{"/api/emergency/shop/orders/emergencyCard":{"post":{"tags":["emergency-shop-controller"],"operationId":"patchPageContents","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmergencyCardOrderRequestTO"}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmergencyCardOrderResponseTO"}}}}}}},"/api/emergency/shop/profile":{"get":{"tags":["emergency-shop-controller"],"operationId":"getResellerProfile","responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResellerProfileTO"}}}}}}}},"components":{"schemas":{"ApiError":{"type":"object","properties":{"message":{"type":"string"},"details":{"type":"string"}}},"EmergencyCardDataTO":{"type":"object","properties":{"name":{"type":"string"},"intolerances":{"type":"string"},"emergencyContactName":{"type":"string"},"emergencyContactPhoneNumber":{"type":"string"},"theme":{"type":"string"}}},"EmergencyCardOrderRequestTO":{"type":"object","properties":{"source":{"type":"string"},"campaign":{"type":"string"},"amount":{"type":"integer","format":"int32"},"cardData":{"$ref":"#/components/schemas/EmergencyCardDataTO"},"shippingAddress":{"$ref":"#/components/schemas/ShippingAddressTO"},"shipToReseller":{"type":"boolean"},"buyerEmail":{"type":"string"},"sendActivationMail":{"type":"boolean"}}},"ShippingAddressTO":{"type":"object","properties":{"name":{"type":"string"},"street":{"type":"string"},"houseNumber":{"type":"string"},"zipCode":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"}}},"EmergencyCardOrderResponseTO":{"type":"object","properties":{"errorMessage":{"type":"string"},"emergencyPageId":{"type":"string","format":"uuid"},"emergencyPageActivationURL":{"type":"string"},"activationMailSent":{"type":"boolean"}}},"ResellerProfileTO":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"name":{"type":"string"},"image":{"type":"array","items":{"type":"string","format":"byte"}},"address":{"type":"string"},"city":{"type":"string"},"zip":{"type":"string"},"country":{"type":"string"},"phone":{"type":"string"}}}}}}